@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {

    background-color: gray;
}

p {
    color: blue;
    font-family: 'Source Code Pro', monospace;
}

img {
    border: 2px solid gray;
    box-shadow: 5px 5px black;
}

h1,
h2,
h3,
h4 {

    font-family: 'Comfortaa', cursive;
}

li {
    font-family: 'Source Code Pro', monospace;

}

a {

    text-decoration: none;
    color: violet;
}